/* Hide scrollbar across browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
